include LICENSE.txt
include README.md
include requirements.txt
recursive-include qiskit_addon_fulqrum/core/includes *.pxi
recursive-include qiskit_addon_fulqrum/core *.pxd
recursive-include qiskit_addon_fulqrum/core/src *.hpp
recursive-include qiskit_addon_fulqrum/test/data *.json
