ruff
jupyter
jupyter-sphinx
matplotlib
nbsphinx
openfermion
primme
pycodestyle
pydata_sphinx_theme
pylatexenc
pylint
pyscf
pytest
pytest-benchmark
qiskit-nature>=0.7.2
qiskit-sphinx-theme
qiskit>=1.2
Sphinx
